:root{
    --dark: #1A374D;
    --dark-opq: rgb(26 55 77 0.3);
    --meddark: #406882;
    --medlight: #6998AB;
    --medlight-opq: rgb(105, 152, 171, 0.5);
    --light: #B1D0E0;
}

* {
  font-family: 'Open Sans Condensed', sans-serif;
}

html {
  font-size: 62.5%;
}


body{
  background-color: var(--meddark);
}

.hero{
  display: flexbox;
  position: relative;
}

nav{
      display: flex;
      font-size: 2rem;
      background-color: var(--dark);
      color: var(--light);
  }

.name{
      font-weight: bold;
      text-align: center;
      color: var(--light);
      background-color: var(--medlight-opq);
      font-size: 4rem;
      position: absolute;
      top: 4rem;
  }

nav ul{
      flex-wrap: wrap;
      text-align: center;
      margin-left: auto;
      list-style: none;
  }

nav li{
      display: inline-block;
      padding: 0 1rem;
  }

nav li a{
    text-decoration: none;
    color: var(--light);
    background-image: linear-gradient(var(--light), var(--light));
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100% 0%;
    transition: background-size .3s, color .5s;
  }

nav a:hover{
    color: var(--dark);
    background-size: 100% 100%;
  }

.header-img{
  display: block;
  height: auto;
  width: 100%;
}

.about-header{
  text-align: center;
  font-size: 4rem;
  color: var(--light);
  padding: 2rem 0 1rem 0;
  border-bottom: 0.2rem solid var(--dark);
}

.about-header-text{
  font-weight: bolder;
  position: relative;
  padding: 0;
}

.about-bio{
  margin: 0 4rem 3rem 4rem;
  padding: 1rem 0 0 0;
}

.bio{
  color: var(--light);
  font-size: 2rem;
}

.work-header{
  font-weight: bold;
  color: var(--dark);
  text-align: center;
  font-size: 4rem;
  padding: 2rem 0 1rem 0;
  background-color: var(--medlight);
}

.portfolio{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
        "card1 card1"
        "card1 card1"
        "card2 card2"
        "card3 card3"
        "card4 card4"
        "card5 card5";
  background-color: var(--medlight);
}

.portfolio a{
  text-decoration: none;
  font-size: 2rem;
  color: var(--light);
}

.card{
  background-color: white;
}

.card1{
  grid-area: card1;
  position: relative;
  padding: 0;
  margin: 0.3rem;
  border: 0.2rem solid black;
}

.card2{
  grid-area: card2;
  position: relative;
  padding: 0;
  margin: 0.3rem;
  border: 0.2rem solid black;
}

.card3{
  grid-area: card3;
  position: relative;
  padding: 0;
  margin: 0.3rem;
  border: 0.2rem solid black;
}

.card4{
  grid-area: card4;
  position: relative;
  padding: 0;
  margin: 0.3rem;
  border: 0.2rem solid black;
}

.card5{
  grid-area: card5;
  position: relative;
  padding: 0;
  margin: 0.3rem;
  border: 0.2rem solid black;
}

.card-title{
  font-weight: bolder;
  color: var(--dark);
  font-size: 2.3rem;
  background-color: var(--light);
  text-align: end;
  position: absolute;
  right: 0.2rem;
  bottom: 0.3rem;
  border-radius: 0.25rem;
  padding: 0.2rem;
}

.card1-img{
  height: auto;
  max-height: 30rem;
  width: 100%;
  object-fit: cover;
  display: block;
  box-sizing: border-box;
}

.card2-img{
  height: auto;
  max-height: 20rem;
  width: 100%;
  object-fit: cover;
  display: block;
  box-sizing: border-box;
}

.card3-img{
  height: auto;
  max-height: 20rem;
  width: 100%;
  object-fit: cover;
  display: block;
  box-sizing: border-box;
}

.card4-img{
  height: auto;
  max-height: 20rem;
  width: 100%;
  object-fit: cover;
  display: block;
  box-sizing: border-box;
}

.card5-img{
  height: auto;
  max-height: 20rem;
  width: 100%;
  object-fit: cover;
  display: block;
  box-sizing: border-box;
}

.card1-img:hover, .card2-img:hover, .card3-img:hover, .card4-img:hover, .card5-img:hover{
  opacity: 0.5;
  transition: 0.4s;
  }

.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--medlight);
}

.contact a{
  padding: 1rem;
}

.contact-img{
  height: 4rem;
}


/* larger phones */
@media screen and (min-width: 415px)
    {
      nav{
        font-size: 2.4rem;
    }

    .contact a{
      padding: 2rem; 
    }

    .contact-img{
      height: 6rem;
    }

  }

/*tablet and larger screens */
@media screen and (min-width: 900px)
    {

      .name{
        font-size: 6rem;
        top: 8rem;
      }

      .navtop{
        position: absolute;
        bottom: 1rem;
        font-size: 5rem;
      }

      .about{
        display: flex;
      }

      .about-header{
        font-size: 6rem;
        text-align: left;
        position: relative;
        border-right: 0.2rem solid var(--dark);
        border-bottom: 0 solid;
        flex: 1 0 22%;
        margin: 0 0 0 1rem;
        
      }

      .bio{
        font-size: 3rem;
      }

      .work-header{
        font-size: 6rem;
        text-align: left;
      }

      .portfolio{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
              "card1 card1"
              "card2 card3"
              "card4 card5";
        background-color: var(--medlight);
      }

      .card-title{
        font-size: 3rem;
      }

      .contact-img{
        height: 7rem;
      }

    }